{% extends 'base.html.twig' %}

{% block title %}Hello FormFilleController!{% endblock %}

{% block body %}

<body>
  
  {% include './components/createfile_front_component.html.twig'%}
</body>
{% endblock %}
