{% extends 'base_login.html.twig' %}

{% block title %}Accueil authentificatio,
{% endblock %}

{% block body %}

	<div
		class="w-full flex justify-between space-x-8 mt-20">

		<!-- bouton connexion -> renvoie vers /login -->
		<a href="{{ path('app_login') }}" class="w-full text-center rounded-md bg-[#0094c6] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#0085b2] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0085b2]">Connexion</a>

		<!-- bouton inscription -> renvoie vers /sign_up -->
		<a href="{{ path('app_user_new', {'newUser' : false}) }}" class="w-full text-center rounded-md bg-[#0094C6] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#0085b2] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0085b2]">Inscription</a>


	</div>


{% endblock %}
