<form method="post" action="{{ path('app_actuelle_fiche_delete', {'id': actuelle_fiche.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actuelle_fiche.id) }}">
    <button class="btn">Delete</button>
</form>
