<!DOCTYPE html>
<html lang="fr" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- adapter titre -->
    <title>{% block title %}Wiki Project{% endblock %}</title>
    <!-- TailsWind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">
<header class="bg-white px-8 ">
    <div class="flex items-center">
        <!-- logo base de connaissance -->
        <div class="flex-none">
            <a href="login.html" class="">
                <img class="h-20 w-auto" src="{{ asset('images/logo.png') }}" alt="Logo du site Wiki Project">
            </a>
        </div>

        <!-- lien accueil + lien add fiche -->
        <div class="flex-1 ml-10">
            <a href="login.html"
               class="text-base text-gray-600 font-['Arial'] mr-8 hover:bg-gray-200 hover:text-white rounded-md px-3 py-2 font-medium transition duration-300 ease-in-out">Accueil</a>
            <a href="sign_up.html"
               class="text-base text-gray-600 font-['Arial'] mr-8 hover:bg-gray-200 hover:text-white rounded-md px-3 py-2 font-medium transition duration-300 ease-in-out">Ajouter
                une fiche</a>
        </div>

        <!-- bouton déconnexion -->
        <div class="w-38">
            <button
                    class="w-full rounded-md bg-[#0094C6] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#0085b2] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0085b2]">
                Déconnexion
            </button>
        </div>
    </div>
</header>

{% block body %}{% endblock %}

</body>

</html>