{% extends 'base.html.twig' %}


{% block body %}

<div>
  <div>
    <input type="text" id="recherche" name="recherche">
  </div>
  <div>
    <button><img/></button>
  </div>
</div>


<div class="box">
  <div>
    <table>
      <thead>
        <tr>
          <td>The table body</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label>test</label></td>
          <td><button class="suprimer">suprimer</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <button class="ajouter">Ajouter</button>
  </div>
</div>
{% endblock %}