{% extends 'base.html.twig' %}


{% block body %}

<form method="post">
    <style>
.box {
  display: flex;
        }
.box_col
{
  display: flex;
    flex-direction: column;
}

    </style>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#editor', // Sélectionnez l'ID de votre textarea
            height: 400, // Hauteur de la zone d'édition
            plugins: 'link image code', // Les plugins que vous souhaitez activer
            toolbar: 'undo redo | bold italic | link image | code', // Les boutons de la barre d'outils
        });
    </script>
    
 <form method="post"style="padding-top: 14px">

        <div class="box">

          <div class="box_col" style="padding-top: 14px">
            <div>
              <div class="Label" style="padding-left: 8px; padding-right: 8px; padding-top: 18px; padding-bottom: 2px; left: 12px; top: -14px; position: absolute; background: white; border-radius: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                <div class="Text" style="color: #707C8B; font-size: 15px; font-family: Noto Sans; font-weight: 400; line-height: 20.25px; word-wrap: break-word">Titre</div>
              </div>
              <input type="text" id="title" name="title" style="width: 515px; height: 56px; background: white; border-radius: 10px; border: 2px #707C8B solid; margin-botom:200px"required>
            </div>

            <div style="margin-top:100px">
              <div style="padding-top: 18px;">
                <div style="width: 89px; height: 24px; left: 14px; top: 0px;  background: white ; margin-left:12px;">
                  <label for="des" style="left: 14px; top: 0px;  color: #707C8B; font-size: 15px; font-family: Noto Sans; font-weight: 400; line-height: 20.25px; word-wrap: break-word">description</label>
                </div>
              </div>
              <textarea id="des" name="des"  style="width: 512px; height: 129px; left: 0px; top: 11px;  background: rgba(217, 217, 217, 0); border-radius: 10px; border: 2px #B0A5A5 solid"></textarea>
            </div>
          </div>
          


        <select id="maListeDeroulante" style="height: 50px; width: 300px; margin-left:400px ">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
        </select>
        </div>


        
        <div style="margin-top:100px">
          <textarea id="editor" name="content"></textarea>
        </div>

        
        <input type="submit" value="Soumettre" style="width: 434px; height: 42px; background: #0094C6; border-radius: 8px; margin-left:35%">
</form>



{% endblock %}