{% extends 'base.html.twig' %}


{% block body %}

{% set langageText = containerContent|default('') %}
{% set descriptionText = containerContent|default('') %}
{% set dateText = containerContent|default('') %}
{% set authorText = containerContent|default('') %}
{% set titleText = containerContent|default('') %}

<div class="RecentBlogCard" style="width: 701px; height: 194px; position: relative">
  <img class="Rectangle1" style="width: 266px; height: 194px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/266x194" />
  <div class="Frame3373" style="width: 65px; height: 20px; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; left: 300px; top: 0px; position: absolute; background: #F2F8F7; border-radius: 3px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div class="Langage" style="color: #666666; font-size: 12px; font-family: Noto Sans; font-weight: 400; text-transform: capitalize; line-height: 12px; word-wrap: break-word">Langage</div>
  </div>
  <div class="Group3491" style="width: 401px; height: 100px; left: 300px; top: 85px; position: absolute">
    <div class="EuFugiatNullaPariaturExcepteurSintOccaecatCupidatatNonProidentSuntInCulpaQuiOfficiaDeseruntMollitAnimIdEstLaborum" style="width: 401px; left: 0px; top: 31px; position: absolute; color: #555555; font-size: 15px; font-family: Noto Sans; font-weight: 400; line-height: 22.50px; word-wrap: break-word">eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <div class="Group3386" style="width: 199.90px; height: 12px; left: 7px; top: 0px; position: absolute">
      <div class="December2022" style="left: 93.90px; top: 0px; position: absolute; color: #777777; font-size: 12px; font-family: Noto Sans; font-weight: 400; text-transform: capitalize; line-height: 12px; word-wrap: break-word">02 december 2022</div>
      <div class="Vector" style="width: 10.80px; height: 12px; left: 77px; top: 0px; position: absolute; background: #555555"></div>
      <div class="CamilNitel" style="left: 0px; top: 0px; position: absolute; color: #777777; font-size: 12px; font-family: Noto Sans; font-weight: 400; text-transform: capitalize; line-height: 12px; word-wrap: break-word">Camil Nitel</div>
      <div class="Line140" style="width: 12px; height: 0px; left: 66px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px #999999 solid"></div>
    </div>
  </div>
  <div class="JavaScript" style="left: 300px; top: 28px; position: absolute; color: #222222; font-size: 27px; font-family: Noto Sans; font-weight: 600; text-transform: capitalize; line-height: 37.80px; word-wrap: break-word">Java Script </div>
</div>

{% endblock %}