{% extends 'base.html.twig' %}


{% block body %}
<div class="Group3679" style="width: 1494px; height: 398px; position: relative">
  <img class="Image3" style="width: 1494px; height: 398px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1494x398" />
  <div class="ParagraphContainer" style="width: 624px; height: 168px; padding-top: 1px; padding-bottom: 21px; padding-left: 7.52px; padding-right: 7.32px; left: 442px; top: 23px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 21px; display: inline-flex">
    <div class="BienvenueSurNotreBaseDeConnaissances" style="width: 418.12px; height: 78px; text-align: center; color: white; font-size: 32px; font-family: Arial; font-weight: 700; line-height: 40px; word-wrap: break-word">Bienvenue sur notre Base de Connaissances !</div>
    <div class="IciVousTrouverezDesInformationsDesGuidesEtDesRPonsesVosQuestionsConcernantNosProduitsEtServices" style="width: 609.17px; height: 47px; text-align: center; color: white; font-size: 16px; font-family: Noto Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">Ici, vous trouverez des informations, des guides et des réponses à vos questions concernant nos produits et services.</div>
  </div>
  <div class="Group2024" style="width: 604px; height: 51px; left: 450px; top: 210px; position: absolute">
    <div class="Rectangle1155" style="width: 604px; height: 51px; left: 0px; top: 0px; position: absolute; background: #FEFDFE; border-radius: 30px"></div>
    <div class="Search" style="width: 60px; left: 40px; top: 17px; position: absolute; color: #818087; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Search...</div>
  </div>
  <div class="DropdownTrueFalse" style="width: 292px; height: 52px; padding-left: 16px; padding-right: 16px; padding-top: 9px; padding-bottom: 9px; left: 712px; top: 312px; position: absolute; background: white; border-radius: 30px; justify-content: space-between; align-items: center; display: inline-flex">
    <div class="Frame1" style="width: 147.90px; height: 34px; position: relative"></div>
    <div class="Triangle" style="width: 12px; height: 6px; background: #3B3B3B"></div>
  </div>
  <div class="DropdownTrueFalse" style="width: 191px; height: 52px; padding-left: 16px; padding-right: 16px; padding-top: 9px; padding-bottom: 9px; left: 473px; top: 312px; position: absolute; background: white; border-radius: 20px; justify-content: space-between; align-items: center; display: inline-flex">
    <div class="Frame1" style="width: 147.90px; height: 34px; position: relative"></div>
    <div class="Triangle" style="width: 12px; height: 6px; background: #3B3B3B"></div>
  </div>
  <div class="Input" style="left: 489px; top: 328px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Trier par date</div>
  <div class="Input" style="left: 728px; top: 328px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sélectionner une catégorie</div>
</div>
{% endblock %}