{{ form_start(form) }}
    <div style="display: inline-block;">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-primary" id="load-form-button" style="margin-left: 10px">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
