{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold mb-6 text-blue-800 text-center p-2 bg-blue-200 border border-blue-300 rounded-lg" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);">Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div class="flex items-center justify-center">
        <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-secondary ">Editer</a>
        <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary ml-2">Retour à la liste</a>
    </div>

{% endblock %}
