
{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container mx-auto mt-8">
        <h1 class="text-4xl font-bold mb-6 text-blue-800">Modifier l'Utilisateur</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_user_index') }}" class="text-blue-500 hover:underline">Retour à la liste</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
